/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 3, 2014, 12:16:22 AM
    Author     : SwErv
*/

/* Homepage enrollment options */
div.info-box { 
    border: 1px solid #000; 
}

div.info-box:hover { 
    border: 1px solid #f2836b; 
}

/* Already logged in Homepage message */
span.info-loggedIn {
    text-decoration:none;
    color:#f2836b;
}

div.pageCaption hr {
    text-align: left;
    margin-left: 0;
    width: 60px
}


p.pageCaption_title {
    font-size:20px
}


hr.caption_underline {
    width: 60px;
    background-color: #f2836b;
    height: 1px;
    border: 0;
    margin-top: -5px;
}

.margint200 {
    margin-top:100px !important;
}