/* === Basic reset === */
* { margin: 0; padding: 0; outline: none;  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */ }
a>img { border: none; text-decoration:none; }
header, footer, article, section, nav, aside { display: block; }

/* === General === */
body {
    font-family:Arial;
    font-size: 14px;
    background:url(../img/main-bg.jpg) repeat;
}

.clearfix {
    clear:both;
}

/* === Intro === */
.intro, .card-select, .footer {
    width:93.75%;
    max-width:768px;
    margin:50px auto;
    text-align:center;
}

.intro h1 {
    margin-bottom:20px;
    font-size:2em;
    color:#444;
    text-shadow:1px 1px 1px rgba(255,255,255,0.2);
}

.intro p {
    color:#666;
    font-size:1.3em;
    text-shadow:1px 1px 1px rgba(255,255,255,0.2);
}

/* === Card Selection === */
.card-select {
    margin-bottom:40px;
}

.card-select h2 {
    font-size:1.5em;
    color:#555;
    text-shadow:1px 1px 1px rgba(255,255,255,0.2);
}

.card-select .wrap {
    width:300px;
    margin:20px auto;
    padding:10px;
    border:1px solid #A0A0A0;
    background:rgba(176,176,176,0.4);
    border-radius:6px;
    box-shadow:0px 0px 2px rgba(0,0,0,0.5);
}

.card-select a {
    text-decoration:none;
}

.card-select a img {
    width:15%;
}

/* === Cards === */
.cards {list-style:none;}
.cards>li {display:none;}
.cards>li.active {display:block;}

/* === Footer === */
.footer {
    margin-top:80px;
}

.footer h3 {
    margin-bottom:20px;
    font-size:2em;
    color:#444;
    text-shadow:1px 1px 1px rgba(255,255,255,0.2);
}

.footer p{
    margin:10px 0px;
    color:#666;
    text-align:left;
    font-size:1.3em;
    text-shadow:1px 1px 1px rgba(255,255,255,0.2);
}

/* === Credit Card === */
.credit-card {
    display:block;
    position:relative;
    width:93.75%;   /* This is 300px on 320px wide screen */
    max-width:500px;    /* Just to make sure that it doesnt get crazy on bg screens */
    min-width:300px;    /* And make sure that it contains at least some size */
    margin:30px auto;
    padding:20px;
    overflow:hidden;
    border-radius:6px;
    z-index:1;
}

.credit-card .inputs {
    list-style:none;
    margin-top:30px;
}

.credit-card .inputs li {
    margin-bottom:30px;
}

.credit-card .inputs li.last {
    margin-bottom:10px;
}

.credit-card .inputs li.expire {
    float:left;
    width:70%;
    margin-right:5%;
}

.credit-card .inputs li.expire input{
    float:left;
    width:35%;
}

.credit-card .inputs li.expire input.month{
    width:60%;
    margin-right:5%;
}

.credit-card .inputs li.cvc-code {
    float:left;
    width:25%;
}

.credit-card .inputs li.cvc-code input {
    width:100%;
}

.credit-card .watermark {
    position:absolute;
    z-index:10;
}

.credit-card form {
    position:relative;
    z-index:50;
}

.credit-card .logo {
    position:absolute;
    top:15px;
    right:20px;
    text-transform:uppercase;
    font-weight:bold;
}

/* === Visa === */
.visa {
    color:#fff;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.8), inset 0px 1px 3px rgba(255,255,255,0.3), inset 0px 0px 2px rgba(255,255,255,0.2);
}

.visa h2 {
    text-shadow:1px 1px 2px rgba(17,121,173,0.8);
}

.visa .logo {
    color:rgba(255,255,255,0.9);
    font-size:2em;
    font-style:italic;
    text-shadow:0px 0px 3px rgba(17,123,173,0.9);
}

.visa .logo:after {
    content:' ';
    position:absolute;
    left:0px;
    top:5px;
    width: 0;
    height: 0;
    border-top: 10px solid orange;
    border-left: 10px solid transparent;
}

.visa .watermark {
    bottom:-100px;
    left:-50px;
    color:rgba(255,255,255,0.06);
    font-size:20em;
    font-weight:bold;
    font-style:italic;
}

/* === Discover === */
.discover {
    color:#888;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.8), inset 0px 1px 3px rgba(255,255,255,0.3), inset 0px 0px 2px rgba(255,255,255,0.2);
}

.discover h2 {
    text-shadow:0px 1px 1px rgba(255,255,255,0.6);
}

.discover label {
    color:rgba(136,136,136,0.9);
    text-shadow:0px 1px 2px rgba(255,255,255,0.6);
}

.discover input {
    border: 1px solid rgba(136,136,136,0.9);
}

.discover .logo {
    top:18px;
    color:#D57C4A;
    font-size:1.6em;
    text-shadow:1px 1px 1px rgba(255,255,255,0.6);
}

.discover .logo span {
    display:inline-block;
    width:17px;
    height:17px;
    background:#D57C4A;
    border-radius:10px;
}

.discover .watermark {
    bottom:-220px;
    left:20%;
    background:rgba(213,124,74,0.06);
    width:60%;
    height:300px;
    border-radius:150px;
}

/* === Mastercard === */
.mastercard {
    color:#fff;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.8), inset 0px 1px 3px rgba(255,255,255,0.3), inset 0px 0px 2px rgba(255,255,255,0.3);
}

.mastercard h2 {
    text-shadow:0px 1px 1px #2D4DAA;
}

.mastercard label {
    color:rgba(255,255,255,0.7);
    text-shadow:0px 1px 1px rgba(0,0,0,0.4);
}

.mastercard input {
    border:1px solid rgba(39,70,157,0.8);
}

.mastercard .logo div {
    float:left;
    width:25px;
    height:25px;
    border-radius:15px;
    background:rgba(239,209,57,0.8);
}

.mastercard .logo div:first-child {
    background:rgba(223,40,40,0.8);
    margin-right:-10px;
}

.mastercard .watermark {
    bottom:-130px;
    left:15%;
}

.mastercard .watermark div {
    float:left;
    width:200px;
    height:200px;
    border-radius:100px;
    background:rgba(239,209,57,0.1);
}

.mastercard .watermark div:first-child {
    background:rgba(223,40,40,0.1);
    margin-right:-60px;
}

/* === American express === */
.aexpress {
    color:#fff;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.8), inset 0px 1px 3px rgba(255,255,255,0.3), inset 0px 0px 2px rgba(255,255,255,0.3);
}

.aexpress .logo {
    font-family:Tahoma;
    font-size:0.6em;
    text-shadow:0px 0px 2px rgba(0,0,0,0.8);
}

.aexpress h2 {
    text-shadow:0px 1px 1px #2D4DAA;
}

.aexpress label {
    color:rgba(255,255,255,0.7);
    text-shadow:0px 1px 1px rgba(0,0,0,0.4);
}

.aexpress input {
    border:1px solid rgba(39,70,157,0.8);
}

.aexpress .watermark {
    bottom:-60px;
    left:-40px;
    color:rgba(255,255,255,0.06);
    font-size:10em;
    font-weight:bold;
    font-style:italic;
}


/* === Forms === */
label {
    display:block;
    margin-bottom:8px;
    color:rgba(255,255,255,0.6);
    text-transform:uppercase;
    font-size:1.1em;
    font-weight:bold;
    text-shadow:0px 1px 2px rgba(17,123,173,0.6);
}

input {
    display:block;
    padding:12px 10px;
    color:#999;
    font-size:1.2em;
    font-weight:bold;
    text-shadow:1px  1px 1px #fff;
    border:1px solid rgba(16,103,133,0.6);
    box-shadow:0px 0px 3px rgba(255,255,255,0.5), inset 0px 1px 4px rgba(0,0,0,0.2);
    border-radius:3px;
}

input.full {
    width:100%;
}


/* === Gradients === */
.gr-visa {
    background: #1db1cf; /* Old browsers */
    background: -moz-linear-gradient(top,  #1db1cf 0%, #1078ab 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1db1cf), color-stop(100%,#1078ab)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1db1cf 0%,#1078ab 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1db1cf 0%,#1078ab 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1db1cf 0%,#1078ab 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1db1cf 0%,#1078ab 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1db1cf', endColorstr='#1078ab',GradientType=0 ); /* IE6-9 */
}

.gr-discover {
    background: #dbdee0; /* Old browsers */
    background: -moz-linear-gradient(top,  #dbdee0 0%, #b7b7b7 97%, #c0813f 98%, #e9b878 98%, #cc603a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdee0), color-stop(97%,#b7b7b7), color-stop(98%,#c0813f), color-stop(98%,#e9b878), color-stop(100%,#cc603a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #dbdee0 0%,#b7b7b7 97%,#c0813f 98%,#e9b878 98%,#cc603a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #dbdee0 0%,#b7b7b7 97%,#c0813f 98%,#e9b878 98%,#cc603a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #dbdee0 0%,#b7b7b7 97%,#c0813f 98%,#e9b878 98%,#cc603a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #dbdee0 0%,#b7b7b7 97%,#c0813f 98%,#e9b878 98%,#cc603a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdee0', endColorstr='#cc603a',GradientType=0 ); /* IE6-9 */
}

.gr-mastercard {
    background: #4d86ce; /* Old browsers */
    background: -moz-linear-gradient(top,  #4d86ce 0%, #2d4daa 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d86ce), color-stop(100%,#2d4daa)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4d86ce 0%,#2d4daa 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4d86ce 0%,#2d4daa 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4d86ce 0%,#2d4daa 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #4d86ce 0%,#2d4daa 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d86ce', endColorstr='#2d4daa',GradientType=0 ); /* IE6-9 */
}

.gr-aexpress {
    background: #4d9dce; /* Old browsers */
    background: -moz-linear-gradient(top,  #4d9dce 1%, #2c59a8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#4d9dce), color-stop(100%,#2c59a8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4d9dce 1%,#2c59a8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4d9dce 1%,#2c59a8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4d9dce 1%,#2c59a8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #4d9dce 1%,#2c59a8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d9dce', endColorstr='#2c59a8',GradientType=0 ); /* IE6-9 */
}

.gr-input {
    background: #d3d3d3; /* Old browsers */
    background: -moz-linear-gradient(top,  #d3d3d3 0%, #d9d9d9 38%, #e5e5e5 82%, #e7e7e7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(38%,#d9d9d9), color-stop(82%,#e5e5e5), color-stop(100%,#e7e7e7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d3d3d3 0%,#d9d9d9 38%,#e5e5e5 82%,#e7e7e7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d3d3d3 0%,#d9d9d9 38%,#e5e5e5 82%,#e7e7e7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d3d3d3 0%,#d9d9d9 38%,#e5e5e5 82%,#e7e7e7 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d3d3d3 0%,#d9d9d9 38%,#e5e5e5 82%,#e7e7e7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
    position: relative;
    left: 0px;
    z-index: 20;
}